@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

* {
    font-family: "Noto Sans", sans-serif;
}

body {
    @apply bg-slate-200;
}

.post-tab {
    @apply grow border-1 border-gray-200 p-3 text-center cursor-pointer text-gray-500;
}

.CreatePost button,
.CreateCommunity button,
.Comments button {
    @apply border-1 rounded-3xl px-4 py-1 mr-1 font-bold hover:opacity-90;
}

.input-border {
    @apply w-full border-1 border-gray-200 rounded px-4 py-2;
}

.selected-tab {
    @apply border-b-2 border-b-blue-500 text-blue-500;
}

.spoiler-active {
    @apply bg-black text-white border-black;
}

.nsfw-active {
    @apply bg-red-500 text-white border-red-500;
}

.dropdown-option {
    @apply bg-white p-2;
}
